In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('dataset.csv')

In [3]:
data

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165
...,...,...,...,...,...,...,...
246086,West Bengal,PURULIA,2014,Summer,Rice,306.0,801
246087,West Bengal,PURULIA,2014,Summer,Sesamum,627.0,463
246088,West Bengal,PURULIA,2014,Whole Year,Sugarcane,324.0,16250
246089,West Bengal,PURULIA,2014,Winter,Rice,279151.0,597899
246090,West Bengal,PURULIA,2014,Winter,Sesamum,175.0,88

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
districts = data['District_Name'].unique()
import pickle
pickle.dump(districts, open('dist.pkl','wb'))

In [6]:
data['District_Name'] = data['District_Name'].replace(districts, range(len(districts)))

In [7]:
seasons = data['Season'].unique()
pickle.dump([s.strip() for s in seasons], open('season.pkl','wb'))
data['Season'] = data['Season'].replace(seasons, range(len(seasons)))

In [8]:
crops = data['Crop'].unique()
pickle.dump(crops, open('crop.pkl','wb'))
data['Crop'] = data['Crop'].replace(crops, range(len(crops)))

In [9]:
data.isnull().sum()

State_Name       0
District_Name    0
Crop_Year        0
Season           0
Crop             0
Area             0
Production       0
dtype: int64

In [10]:
def check(x):
    try:
        x = float(x)
        return x
    except:
        return 0
prod = data['Production'].unique()
data['Production'] = data['Production'].apply(check)
data = data[data['Production'] != 0]

In [11]:
x = data[['District_Name', 'Crop_Year', 'Season', 'Crop', 'Area']]
y = data['Production']

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.2, random_state=101)

In [13]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred_train=lr.predict(X_train)
y_pred_test=lr.predict(X_test)
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error
#Training Accuracies
rmse = math.sqrt(mean_squared_error(y_train, y_pred_train)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred_train)
print('Mean absolute error', mae)
#Testing Accuracies
rmse = math.sqrt(mean_squared_error(y_test, y_pred_test)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_test, y_pred_test)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_test, y_pred_test)
print('Mean absolute error', mae)
print(lr.score(X_train, y_train), lr.score(X_test, y_test))

Root mean square error 17438815.527405363
Mean square error 304112286998874.3
Mean absolute error 1315689.6146252423
Root mean square error 16023600.299928894
Mean square error 256755766571881.34
Mean absolute error 1317751.1796009536
0.0028652532308106604 0.0037186690900924413

In [14]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor()
rfr.fit(X_train, y_train)
y_pred_train=rfr.predict(X_train)
y_pred_test=rfr.predict(X_test)
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error
#Training Accuracies
rmse = math.sqrt(mean_squared_error(y_train, y_pred_train)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred_train)
print('Mean absolute error', mae)
#Testing Accuracies
rmse = math.sqrt(mean_squared_error(y_test, y_pred_test)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_test, y_pred_test)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_test, y_pred_test)
print('Mean absolute error', mae)
print(rfr.score(X_train, y_train), rfr.score(X_test, y_test))

Root mean square error 1874283.451376428
Mean square error 3512938456103.5347
Mean absolute error 43731.08936484587
Root mean square error 4239722.657255041
Mean square error 17975248210441.75
Mean absolute error 119302.83582364554
0.9884816459327883 0.9302512093510422

In [15]:
from sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor()
dtr.fit(X_train, y_train)
y_pred_train=dtr.predict(X_train)
y_pred_test=dtr.predict(X_test)
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error
#Training Accuracies
rmse = math.sqrt(mean_squared_error(y_train, y_pred_train)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred_train)
print('Mean absolute error', mae)
#Testing Accuracies
rmse = math.sqrt(mean_squared_error(y_test, y_pred_test)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_test, y_pred_test)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_test, y_pred_test)
print('Mean absolute error', mae)
print(dtr.score(X_train, y_train), dtr.score(X_test, y_test))

Root mean square error 1.5553552944155633e-19
Mean square error 2.4191300918665234e-38
Mean absolute error 1.3073752056348993e-21
Root mean square error 3265565.519244969
Mean square error 10663918160481.664
Mean absolute error 96930.20825615474
1.0 0.9586211335406769

In [16]:
pickle.dump(dtr, open('model.pkl', 'wb'))